@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&display=swap');

body {
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    animation: fadeIn 1s ease-in-out;
}

.login-card {
    width: 600px;
    height: 350px;
    display: flex;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.login-left {
    background: #2A8579;
    color: white;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%;
    border-radius: 10px;
}

.login-left img {
    width: 100px;   
}

.login-left h3{
    font-family: "Comfortaa", sans-serif;
    font-size: 24px;
    margin: 0;
    margin-top: 5px;
}

.login-left p{
    font-family: "Comfortaa", sans-serif;
    margin: 0;
    margin-top: 5px;
}

.login-left .judul-login-kecil-dua{
    margin-top: 0;
}

.login-right {
    padding: 30px;
    width: 50%;
}

.login-right h2 {
    font-family: "Comfortaa", sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    color: #2A8579;
}

.input-container {
    position: relative;
    margin-bottom: 35px;
}

.input-container input {
    width: 100%;
    padding: 12px 0px 12px 0px;
    border: none;
    border-bottom: 2px solid #2A8579;
    background-color: transparent;
    font-size: 16px;
    outline: none;
    color: #000;
}

.input-container label {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 16px;
    color: #2A8579;
    transition: all 0.3s ease;
    pointer-events: none;
}

.input-container input.focused + label {
    top: -5px;
    font-size: 14px;
    color: #2A8579;
    opacity: 75%;
}

.input-container i {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: #2A8579;
    font-size: 18px;
}

.toggle-password {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 17px;
}

.login-button {
    margin-top: 15px;
    width: 100%;
    padding: 12px;
    background-color: #2A8579;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-button:hover {
    background-color: #006666;
}

.judul-login-kecil, .judul-login-kecil-dua {
    font-size: 12px;
}

.alert-custom {
    position: fixed !important;
    top: 20px !important;
    right: 20px !important;
    z-index: 1050; /* Pastikan berada di atas elemen lain */
    max-width: 90%; /* Untuk memastikan alert responsif di layar kecil */
}

@media (max-width: 768px) {
    .login-card {
        flex-direction: column;
    }

    .login-left {
        display: none;
    }

    .login-right {
        padding: 30px;
        width: 100%;
    }

    .login-card {
        margin: 50px;
        width: 600px;
        height: 350px;
        display: flex;
        background: white;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
}
