@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&display=swap');

.font{
    font-family: "Comfortaa", sans-serif;
    margin: 0;
    margin-top: 5px;
}

.content-wrapper{
  margin-top: 59px;
}

.text-ijo{
    color: #2A8579;
}

.fk{
  font-size: 23px !important;
}

.btn-ijo{
    background-color: #2A8579 !important;
    color: white !important;
    transition: 500ms;
}

.btn-ijo-submit{
  background-color: #2A8579 !important;
  color: white !important;
  transition: 500ms;
}

.btn-ijo-submit:hover{
  background-color: #1b5049 !important;
}

.btn-ijo:hover{
    background-color: #1b5049 !important;
}

.btn-ijo-search{
    background-color: #2A8579 !important;
    color: white !important;
    transition: 500ms;
}

.btn-ijo-search:hover{
    background-color: #1b5049 !important;
}

.box-konten{
    background-color: white;
    transition: 500ms;
}

.small-box-footer{
    background-color: #2A8579 !important;
}

.tulisan-konten{
    position: relative;

    margin: 0 auto;
    top: 5px;
    color: #2A8579;
}

.tulisan-konten-guru{
    text-align: center;
}

.moreinfo-buset{
    transition: 500ms;
}

table th, td{
    color: #2A8579;
}

table td{
    white-space: nowrap; /* Mencegah teks pecah ke baris berikutnya */
}

.no-column {
  width: 50px;
}

.table thead tr th{
  border-bottom: 2px solid #2A8579 ;
  border-top: none;
}

.modal-overlay {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
  }

  .modal-title{
    color: #2A8579;
  }

  .form-group label, select{
    color: #2A8579;
  }

  select.form-select {
    color: #2A8579; /* Ganti dengan warna yang Anda inginkan */
  }
  
  /* Mengubah warna teks saat dropdown terbuka (tidak semua browser mendukung ini) */
  select.form-select option {
    color: #2A8579; /* Ganti sesuai keinginan */
  }
  
  .modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 100%; /* Modal tidak memenuhi seluruh layar */
    max-width: 500px; /* Maksimum lebar modal */
    max-height: 80vh; /* Maksimum tinggi modal */
    overflow-y: auto; /* Aktifkan scroll vertikal jika konten lebih tinggi dari modal */
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    position: relative;
    max-height: 350px; /* Atur tinggi maksimum modal */
    overflow-y: auto;  /* Scroll ketika konten melebihi tinggi maksimum */
  }
  
  input[type="date"] {
    color: #2A8579;
  }

  input[type="date"]::-webkit-calendar-picker-indicator {
      filter: invert(48%) sepia(13%) saturate(1640%) hue-rotate(130deg) brightness(92%) contrast(87%);
  }

  input[type="date"]:focus {
      border-color: #2A8579;
      box-shadow: 0 0 0 0.2rem rgba(42, 133, 121, 0.25);
  }

  .animate-top {
    animation: slideTop 0.5s ease-out;
  }
  
  @keyframes slideTop {
    from { transform: translateY(-100%); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
  }

/* Halaman user */

.img-home img{
  position: relative;
  width: 125px;
}

.tulisan-konten-guru{
    position: relative;
    top: 2rem;
    right: .5rem;
    color: #2A8579;
    height: 100px;
}

.tulisan-konten-guru h2{
    text-align: center;
    letter-spacing: 5px;
}

@media (max-width: 768px){

  .img-home img{
    width: 95px;
  }

  .tulisan-konten-guru{
    top: 0;
    height: 190px;
    right: 0;
  }

}

.tulisan-konten-guru p{
  /* max-width: 400px; */
}

.icon-konten {
  display: flex;
  justify-content: center;  /* Tengahkan secara horizontal */
  align-items: center;       /* Tengahkan secara vertikal */
}

.tulisan-konten-guru-dua{
    margin-top: 1rem;
    top: 1rem;
    color: #2A8579;
    height: 107px;
}

.download-aplikasi-bungkus{
    display: flex;
    justify-content: center;
    align-items: center;
}

.download-aplikasi{
    border-radius: 15px;
}

.download-aplikasi img{
    height: 185px;
    border-radius: 15px;
}

.penjelasan-aplikasi{
    color: #2A8579;
}

.button-download{
    padding: 5px;
    border-radius: 10px;
    background-color: #2A8579;
    color: white;
    transition: 500ms;
}

.button-download:hover{
  background-color: #115a50;
  color: white;
}

.pengunduhan{
    margin: 15px;
}

.pengunduhan h4{
  font-size: 20px;
  color: #2A8579;
  margin-bottom: 40px;
}

/* halaman guru absensi */

.search-container {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #ffffff; /* Warna latar sesuai gambar */
  border-radius: 15px; /* Membuat tepi melengkung */
  padding: 5px 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.search-container input[type="search"] {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  font-size: 16px;
}

.search-container i {
  color: #2A8579; /* Warna ikon */
  font-size: 20px;
  cursor: pointer;
  padding: 5px;
}

/* ----- */

.select{
  width: 270px;
  height: auto;
  /* for center */
  position: absolute;
  left: 0px;
  right: 0px;
  margin: auto;
  margin-top: 60px;
}
.select span{
  background-color: white;
  width: 100%;
  line-height: 50px;
  padding: 0px 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  font-size: 17px;
  font-weight: 500;
  cursor: default;
  border-radius: 2px;
  display: block;
}
.select svg{
  position: absolute;
  top: 9px;
  right: -18px;
  width: 24px;
  height: 24px;
  padding: 4px;
  transition-duration: .2s;
}
.select .rotate{
  transform: rotate(180deg);
}
.select span:active + svg{
  background-color: rgba(0, 0, 0, 0.036);
}
.select ul{
  width: 100%;
  height: 293px;
  overflow: auto;
  background-color: white;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 2px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.select ul li{
  list-style: none;
  padding: 10px;
  margin-left: -40px;
  padding-left: 20px;
  cursor: default;
}
.select ul li:hover{
  background-color: rgba(0, 0, 0, 0.036);
}
.select ul::-webkit-scrollbar{
  width: 20px;
}
.select ul::-webkit-scrollbar-thumb{
  background-color: #54c0ff;
  border-radius: 10px;
  margin: 10px;
  width: 2px;
  border: 6px solid white;
}

.btn-info{
  background-color: #2A8579;
  margin-left: 15px;
}

.popup-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.3s ease;
}

.popup-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  animation: scaleIn 0.3s ease;
}

.popup-content .close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

@keyframes scaleIn {
  from {
      transform: scale(0.9);
  }
  to {
      transform: scale(1);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.9);
  }
}

.popup-content {
  animation: fadeIn 0.3s ease forwards;
}

.laporan-icon{
    font-size: 35px;
    margin-bottom: 20px;
}